%hr
- Comfy::Cms::Section.layouts(section.layouts).each do |layout|
  - fields = render("section_fields", sub_page: Comfy::Cms::Section.new(layout_id: layout.id, tag_identifier: section.identifier) )
  = content_tag(:button, "Neuer Block (#{layout.label})", class: "btn btn-primary", onclick: "return add_fields(this, \"section\", \"#{escape_javascript(fields)}\")")
%br
%br
%ul.list.sortable_sections
  - sub_pages ||= section.sub_pages
  - sub_pages.each_with_index do |sub_page, idx|
    = render "section_fields", sub_page: sub_page

%hr